<h2><%= author %></h2>
<span>
	<img src="/images/foto_cara.jpeg" 
			height="102" 
			width="100">
</span>
<span>
	<iframe width="320" 
			height="215" 
			src="https://www.youtube.com/embed/yra39IpVl7k" 
			frameborder="0" 
			allowfullscreen>
	</iframe>
</span>