* 						{ margin: 0; padding: 0; }
body 					{ font: 16px Georgia, serif; }

#page-wrap 				{ margin: 2% auto; color: white; }
#page-wrap > .main 		{ border: 1px solid #999; padding: 1%;
							margin-bottom: 1px; color: black;}
section > div  			{ padding: 20px;}
section > div > span	{ display: block;}
header, nav, section 	{ background: #eee; text-align: center;}
footer 					{ background: #eee; text-align: center;}
nav span 				{ margin: 0px 10px 0px 0px;}

#ErrorMsgs				{ color: #f61; font-size: smaler}
.right					{ float: right; }

.tg  					{ border-collapse:collapse;
						  border-spacing:0;
						  border-color:#ccc;}

.tg td 					{ padding:10px 5px; 
						  border-style:solid; border-width:1px;
						  overflow:hidden; word-break:normal; 
						  border-color:#ccc;
						  background-color:#f0f0f0;}

.tg .tg-eph 			{ background-color:#f9f9f9}